/* variables */
:root {
  --primary: #1D2A8F;
  --secondary: #FF9000;
  --white: #ffffff;
  --yellow: #FFD943;
  --light-blue: #97B2FF;
  --sky-blue: #D3D8FF;
  --light: #ECECFF;
  --dim: #EFF0F7;
  --blue: #2264B5;
  --sky-blue: #D1DCF8;
  --alice-blue: #F3F6FD;
  --grey: #6B6B6B;
  --arsenic: #3A4146;
  --spindle: #BBCAEA;
  --dark-grey: #313131;
  --border-color: #A3B1D4;
  --lavender: #696984;
  --purple-navy: #55578D;
  --parrot: #41BE90;
  --cornflower-blue: #687EF3;
  --sandy-brown: #F3A268;
  --turquoise: #34E7A5;
}


/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  min-width: 110px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}

.btn-white {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--border-color);
}

.btn-orange {
  color: var(--white);
  background-color: var(--secondary);
}

.btn-gradient {
  color: var(--white);
  background: linear-gradient(157.22deg, #F48C06 7.39%, #FFC77E 97.36%);
}


/* body */
body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.prevent-scroll {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


/* main */
.mbn-main-container {
  font-family: 'Varela Round', sans-serif;
  background-color: var(--white);
  max-width: 1400px;
  margin: auto;
}

/* section-1 */
#mbn-section-one {
  background-image: url('./images/section1-blue-lines-bg.svg'), url('./images/section1-logos-bg.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: left top, left bottom;
  padding-bottom: 36px;
  overflow-x: hidden;
}

.mbn-section-one-header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: auto;
}

.mbn-section-one-header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mbn-section-one-header-logo img {
  width: 120px;
  height: 120px;
}

.mbn-section-one-header-logo h2 {
  color: var(--white);
  font-size: 20px;
  letter-spacing: 1.8px;
  font-family:'Varela Round  '!important;
  font-weight: bold;
  margin-left: 3px;
  padding-right: 26px;
  white-space: nowrap;
}

.mbn-section-one-header-navbar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mbn-section-one-header-navbar-navigation {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  margin-right: 95px;
}

.mbn-section-one-header-navbar-navigation li a {
  font-family: 'Varela Round  ', sans-serif;
  display: inline-block;
  color: var(--primary);
  font-size: 26px;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.mbn-section-one-header-navbar-navigation li a.active::after {
  content: '';
  position: absolute;
  top: calc(100% + 3px);
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  border-radius: 50%;
}

.mbn-section-one-header-navbar-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.mbn-section-one-header-navbar .mbn-section-one-header-toggle-button {
  display: none;
}

.mbn-section-one-sidebar {
  background-color: var(--white);
  width: 45%;
  max-width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  padding: 30px 24px;
  transition: transform 0.35s ease-in-out;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.mbn-section-one-sidebar-visible {
  transform: translateX(0);
}

.mbn-section-one-sidebar-close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mbn-section-one-sidebar-close-btn svg {
  width: 18px;
  height: 18px;
}

.mbn-section-one-sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mbn-section-one-sidebar-logo img {
  width: 120px;
  height: 120px;
}

.mbn-section-one-sidebar-logo h2 {
  font-family: 'Varela Round';
  color: var(--primary);
  font-size: 18px;
  font-weight: bold;
  margin-left: 3px;
  white-space: nowrap;
}

.mbn-section-one-sidebar-navigation {
  margin-top: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 25px;
}

.mbn-section-one-sidebar-navigation li a {
  font-family: 'Varela Round', sans-serif;
  display: inline-block;
  color: var(--primary);
  font-size: 17px;
  font-weight: 100;
  text-decoration: none;
  position: relative;
}

.mbn-section-one-sidebar-navigation li a.active::after {
  content: '';
  position: absolute;
  top: calc(100% + 3px);
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--primary);
  border-radius: 50%;
}


/* mbn-section-1-showcase */

.mbn-section-one-showcase {
  width: 500px;
  margin: auto;
  position: relative;
}

.mbn-section-one-showcase-img {
  width: 500px;
  height: 395px;
}

.mbn-section-one-showcase-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform .3s ease-in-out;
}

.mbn-section-one-showcase-item:hover {
  transform: scale(1.2);
}

.mbn-section-one-showcase-btn {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}

.mbn-section-one-showcase-item > p {
  color: var(--secondary);
  font-size: 18px;
  margin-top: 0px;
  text-align: center;
  box-shadow: 0;
  
}

.mbn-section-one-showcase-education {
  max-width: 110px;
  top: 60%;
  left: -12px;
}
.mbn-section-one-showcase-education-btn {
  display: inline-block;
  background-color: var(--yellow);
  padding: 17px 17px 11px 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mbn-section-one-showcase-education-btn img {
  width: 40px;
  height: 40px;
}


.mbn-section-one-showcase-card {
  max-width: 110px;
  position: absolute;
  top: 28%;
  left: -7%;
}
.mbn-section-one-showcase-card-btn {
  width: 74px;
  height: 74px;
  background-color: var(--sky-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mbn-section-one-showcase-card-btn img {
  width: 40px;
  height: 40px;
}


.mbn-section-one-showcase-store {
  max-width: 100px;
  position: absolute;
  top: 12px;
  left: 20%;
}
.mbn-section-one-showcase-store-btn {
  display: inline-block;
  background-color: var(--light-blue);
  border-radius: 8px;
  padding: 14px 28px 14px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mbn-section-one-showcase-store-btn img {
  width: 38px;
  height: 38px;
}



.mbn-section-one-showcase-development {
  max-width: 110px;
  position: absolute;
  top: 10%;
  right: 3%;
}
.mbn-section-one-showcase-development-btn {
  display: inline-block;
  background-color: var(--yellow);
  padding: 20px 18px 12px 19px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mbn-section-one-showcase-development-btn img {
  width: 40px;
  height: 40px;
}


.mbn-section-one-showcase-restaurant {
  max-width: 110px;
  position: absolute;
  top: 45%;
  right: -8%;
}
.mbn-section-one-showcase-restaurant-btn {
  width: 68px;
  height: 68px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mbn-section-one-showcase-restaurant-btn img {
  width: 36px;
  height: 36px;
}



.mbn-section-one-content {
  width: 100%;
  max-width: 450px;
  margin: 50px auto 0 auto;
  text-align: center;
}

.mbn-section-one-content h1 {
  color: var(--primary);
  letter-spacing: 1;
  font-size: 32px;
  font-weight: 700;
}

.mbn-section-one-content h1 span {
  color: var(--secondary);
}

.mbn-section-one-content p {
  margin-top: 20px;
  font-family: 'Varela Round', sans-serif;
  color: var(--primary);
  font-size: 18px;
  font-weight: 400;
}

.mbn-section-one-content .mbn-section-one-content-actions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}


.mbn-section-one-logos {
  width: 100%;
  max-width: 990px;
  margin: 50px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mbn-section-one-logos .mbn-section-one-chase-logo {
  width: 90px;
}
.mbn-section-one-logos .mbn-section-one-asana-logo {
  width: 85px;
}
.mbn-section-one-logos .mbn-section-one-buzzfeed-logo {
  width: 85px;
}
.mbn-section-one-logos .mbn-section-one-toggl-logo {
  width: 70px;
}
.mbn-section-one-logos .mbn-section-one-walmart-logo {
  width: 90px;
}



/* section-2 */
#mbn-section-two {
  background-color: var(--white);
  padding: 30px 24px;
  overflow-x: hidden;
  position: relative;
}

#mbn-section-two .mbn-section-two-services {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}

.mbn-section-two-services-list {
  position: relative;
  flex-basis: 100%;
  min-height: 500px;
}

.mbn-section-two-service {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  overflow-x: hidden;
}

.mbn-section-two-service-show {
  opacity: 1;
  visibility: visible;
}

.mbn-section-two-service-heading {
  width: 100%;
}

.mbn-section-two-service-heading img {
  width: 26px;
}

.mbn-section-two-service-heading h2 {
  margin-top: 12px;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}

.mbn-section-two-service-content {
  max-width: 900px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.mbn-section-two-service-data {
  flex: 1;
  max-width: 600px;
  text-align: right;
}

.mbn-section-two-service-data h1 {
  color: var(--primary);
  font-size: 26px;
  font-weight: 100;
  text-align: right;
}

.mbn-section-two-service-data h1 span {
  display: block;
  color: var(--secondary);
}

.mbn-section-two-service-data p {
  margin-top: 30px;
  color: var(--lavender);
  font-size: 16px;
  font-weight: 100;
  text-align: right;
}

.mbn-section-two-service-data a {
  margin-top: 18px;
  color: var(--dark-grey);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.mbn-section-two-service-data a svg {
  width: 20px;
  margin-right: 5px;
}

.mbn-section-two-service-img {
  width: 300px;
}

.mbn-section-two-service-card-container-wrapper {
  padding: 26px 90px 60px 30px;
}

.mbn-section-two-service-card-container {
  position: relative;
}

.mbn-section-two-service-card-container .mbn-section-two-service-card-blue-circle {
  position: absolute;
  top: -10px;
  left: -26px;
  width: 50px;
  height: 50px;
  background-color: var(--cornflower-blue);
  border-radius: 50%;
  z-index: 0;
}

.mbn-section-two-service-card-container .mbn-section-two-service-card-orange-circle {
  position: absolute;
  top: -24px;
  left: 15%;
  width: 12px;
  height: 12px;
  background-color: var(--sandy-brown);
  border-radius: 50%;
  z-index: 0;
}

.mbn-section-two-service-card-container .mbn-section-two-service-card-green-circle {
  position: absolute;
  left: -6px;
  bottom: -24px;
  width: 10px;
  height: 10px;
  background-color: var(--turquoise);
  border-radius: 50%;
  z-index: 0;
}

.mbn-section-two-service-card {
  width: 280px;
  background-color: var(--white);
  position: relative;
  padding: 60px 20px 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.mbn-section-two-service-card h2 {
  color: var(--purple-navy);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.mbn-section-two-service-card > img {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.mbn-section-two-service-card .mbn-section-two-service-card-navigate-container {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 80%;
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.mbn-section-two-service-card .mbn-section-two-service-card-navigate-container::before {
  content: '';
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: var(--parrot);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.1;
}

.mbn-section-two-service-card-navigate-container a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mbn-section-two-service-card-navigate-container a img {
  width: 55px;
}

.mbn-section-two-service-card-navigate-container h4 {
  color: var(--parrot);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}

 .mbn-section-two-services-clock-container {
  width: 450px;
  height: 450px;
  background-color: var(--alice-blue);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(60%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.mbn-section-two-services-clock {
  width: 400px;
  height: 400px;
  background-color: var(--spindle);
  border-radius: 50%;
  position: relative;
}

.mbn-section-two-services-clock::before {
  content: '';
  position: absolute;
  width: 72%;
  height: 72%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--sky-blue);
  z-index: 1;
}

.mbn-section-two-services-clock::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--spindle);
  z-index: 2;
}

.mbn-section-two-services-clock .mbn-section-two-services-clock-interval {
  width: calc(50% - 5px);
  height: 2px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%) rotate(calc(30deg * var(--i)));
  transform-origin: right;
  text-align: center;
  z-index: 3;
}

.mbn-section-two-services-clock-interval button {
  width: 40px;
  height: 15px;
  border-radius: 10px;
  background-color: var(--arsenic);
  border: 0;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.mbn-section-two-services-clock-interval button.active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 6%;
  background-color: var(--secondary);
  pointer-events: none !important;
}

.mbn-section-two-services-clock .mbn-section-two-services-clock-handle {
  background-color: var(--secondary);
  background-color: transparent;
  width: 100px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
  transform: translateY(-50%) rotate(0deg);
  transform-origin: right;
  text-align: center;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition-timing-function: ease;
}

.mbn-section-two-services-clock-handle img {
  width: 100%;
}

#mbn-section-two .mbn-section-two-about-us {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  position: relative;
}

.mbn-section-two-about-us .mbn-section-two-about-us-bg-img {
  position: absolute;
  left: -24px;
  width: 100%;
  height: 680px;
  background-image: url('./images/section2-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.mbn-section-two-about-us .mbn-section-two-about-us-img-container {
  width: 450px;
  position: relative;
  z-index: 1;
}

.mbn-section-two-about-us-img-container img {
  width: 100%;
}

.mbn-section-two-about-us .mbn-section-two-about-us-content {
  max-width: 700px;
  flex-basis: calc(50% - 12px);
  position: relative;
  z-index: 1;
}

.mbn-section-two-about-us-content h1 {
  color: var(--primary);
  font-size: 52px;
  font-weight: 100;
  line-height: 1.5;
  text-align: right;
}

.mbn-section-two-about-us-content h1 span {
  color: var(--secondary);
}

.mbn-section-two-about-us-content p {
  margin-top: 18px;
  font-size: 22px;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: right;
  letter-spacing: 2px;
  line-height: 1.3;
  padding-bottom: 36px;
}

#mbn-section-two .mbn-section-two-contact-us {
  margin-top: 25px;
  position: relative;
  z-index: 1;
}

.mbn-section-two-contact-us .mbn-section-two-contact-us-heading {
  color: var(--dark-grey);
  font-size: 48px;
  font-weight: 200;
  text-align: center;
}

.mbn-section-two-contact-us .mbn-section-two-contact-us-description {
  margin: 10px auto 0 auto;
  max-width: 420px;
  color: var(--grey);
  font-family:'sans-serif, Poppins';
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.mbn-section-two-contact-us .mbn-section-two-contact-us-content {
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.mbn-section-two-contact-us-content .mbn-section-two-contact-us-social-media {
  width: calc(50% - 10px);
  position: relative;
}

.mbn-section-two-contact-us-social-media .mbn-section-two-contact-us-social-media-img {
  width: 100%;
}

.mbn-section-two-contact-us-social-media .mbn-section-two-contact-us-social-media-link {
  display: inline-block;
  width: 11%;
  position: absolute;
  top: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.mbn-section-two-contact-us-social-media-link img {
  width: 100%;
  height: 100%;
}

.mbn-section-two-contact-us-social-media .mbn-section-two-contact-us-meta-link {
  top: 19%;
  right: 18.5%;
}
.mbn-section-two-contact-us-social-media .mbn-section-two-contact-us-twitter-link {
  top: 30%;
  right: 1%;
}
.mbn-section-two-contact-us-social-media .mbn-section-two-contact-us-linkedin-link {
  top: 55%;
  right: 2%;
}
.mbn-section-two-contact-us-social-media .mbn-section-two-contact-us-instagram-link {
  top: 62%;
  right: 21%;
}

.mbn-section-two-contact-us .mbn-section-two-contact-us-form {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}

.mbn-section-two-contact-us-form-input-container {
  width: 100%;
  position: relative;
}

.mbn-section-two-contact-us-form .mbn-section-two-contact-us-form-input-label {
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.mbn-section-two-contact-us-form-input-container label,
.mbn-section-two-contact-us-form-radio-container .mbn-section-two-contact-us-form-input-label {
  background-color: var(--white);
  padding: 0 5px;
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(-50%);
  
}

.mbn-section-two-contact-us-form-input-container input,
.mbn-section-two-contact-us-form-text-area-container .mbn-section-two-contact-us-form-text-area {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  outline: none;
}

.mbn-section-two-contact-us-form-input-container input,
.mbn-section-two-contact-us-form-radio-container {
  width: 100%;
  color: var(--dark-grey);
  border: 1px solid rgba(34, 100, 181, 0.59);
  border-radius: 4px;
  padding: 16px 12px;
}

.mbn-section-two-contact-us-form-radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  position: relative;
}

.mbn-section-two-contact-us-form-radio-option input {
  display: none;
}

.mbn-section-two-contact-us-form-radio-option input:checked + .mbn-section-two-contact-us-form-radio-option-icon-container {
  background-color: var(--primary);
}

.mbn-section-two-contact-us-form-radio-option input:checked + .mbn-section-two-contact-us-form-radio-option-icon-container svg {
  color: var(--white);
}

.mbn-section-two-contact-us-form-radio-option .mbn-section-two-contact-us-form-radio-option-icon-container {
  background-color: rgba(34, 100, 181, 0.09);
  width: 90px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}

.mbn-section-two-contact-us-form-radio-option-icon-container svg {
  width: 36px;
  color: var(--primary); 
}

.mbn-section-two-contact-us-form-text-area-container {
  width: 100%;
  background: rgba(34, 100, 181, 0.09);
  padding: 16px 16px 10px 16px;
  border-radius: 6px;
}

.mbn-section-two-contact-us-form-text-area-container .mbn-section-two-contact-us-form-input-label {
  text-align: right;
}

.mbn-section-two-contact-us-form-text-area-container .mbn-section-two-contact-us-form-text-area {
  margin-top: 12px;
  display: block;
  min-height: 100px;
  background: transparent;
  border: 0;
  resize: none;
}

.mbn-section-two-contact-us-form-submit {
  margin-top: 10px;
}



/* main-footer */
#mbn-footer {
  background-color: var(--primary);
  padding: 24px 24px 18px 24px;
}

#mbn-footer .mbn-footer-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.mbn-footer-content .mbn-footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mbn-footer-logo img {
  width: 140px;
  height: 140px;
}

.mbn-footer-logo h2 {
  font-family: 'Circular Air Bold';
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
}

.mbn-footer-content .mbn-footer-links {
  margin-top: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
}

.mbn-footer-links li a {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  color: var(--white);
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
}

.mbn-footer-content .mbn-footer-form {
  width: 100%;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.mbn-footer-content .mbn-footer-form-submit {
  min-width: 125px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 10px;
}

.mbn-footer-content .mbn-footer-form-input {
  flex: 1;
  background-color: transparent;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  border: 1px solid var(--light);
  border-radius: 40px;
  padding: 10px;
  outline: var(--white);
}

.mbn-footer-content .mbn-footer-form-input::placeholder {
  color: var(--white);
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
}

.mbn-footer-content .mbn-footer-other-links {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mbn-footer-other-links a {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.mbn-footer-other-links span {
  display: inline-block;
  margin: 0 30px;
  height: 15px;
  border: 1px solid #626381;
}

.mbn-footer-content .mbn-footer-copyright {
  margin-top: 30px;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
}


/* modal */
#mbn-service-modal {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000000;
  display: none;
}

.mbn-service-modal-show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.mbn-service-modal-content {
  background-color: var(--dim);
  width: 90%;
  height: 90%;
  padding: 25px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.mbn-service-modal-close-btn {
  width: 26px;
  height: 26px;
  padding: 5px;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mbn-service-modal-close-btn img {
 width: 100%;
 height: 100%;
}

.mbn-service-modal-content-service {
  display: none;
}

.mbn-service-modal-content-service-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mbn-service-modal-content-service h1 {
  color: var(--primary);
  font-size: 32px;
  font-weight: 100;
  line-height: 1.2;
  text-align: center;
}
.mbn-service-modal-content-service h1 span {
  display: block;
  color: var(--secondary);
}
.mbn-service-modal-content-service p {
  max-width: 500px;
  margin: 16px auto 0 auto;
  color: var(--primary);
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}
.mbn-service-modal-content-service .mbn-service-modal-content-service-videos {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mbn-service-modal-content-service .mbn-service-modal-content-service-videos img {
  width: 30%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.mbn-service-modal-content-service .mbn-service-modal-content-service-videos img:hover {
  transform: scale(1.2);
}
.mbn-service-modal-content-service .mbn-service-modal-content-service-action {
  display: inline-block;
  margin-top: 20px;
  background-color: var(--secondary);
  color: var(--white);
  font-size: 16px;
  font-weight: 100;
  
}




/* ------------------------------------- **** media queries **** --------------------------------- */

/* lg screens */

@media screen and (max-width: 1199px) {
  /* section-1 */
  #mbn-section-one {
    padding: 0 24px 24px 24px;
  }

  .mbn-section-one-header {
    max-width: 990px;
  }

  .mbn-section-one-header-navbar-navigation {
    margin-right: 65px;
  }

  /* section-2 */
  .mbn-section-two-contact-us .mbn-section-two-contact-us-content {
    align-items: flex-start;
  }
}


/* md screens */

@media screen and (max-width: 991px) {
  /* section-1 */
  #mbn-section-one {
    background-image: url('./images/section1-blue-lines-bg-sm.svg'), url('./images/section1-logos-bg.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-position: 0 -25%, left bottom;
    padding: 0 18px 20px 18px;
  }

  .mbn-section-one-header {
    justify-content: space-between;
  }
  
  .mbn-section-one-header-navbar {
    flex: initial;
    justify-content: flex-start;
  }
  
  .mbn-section-one-header-navbar-navigation {
    display: none;
  }
  
  .mbn-section-one-header-navbar .mbn-section-one-header-toggle-button {
    background-color: transparent;
    width: 30px;
    height: 25px;
    margin-left: 20px;
    border: 0;
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
  }
  
  .mbn-section-one-header-toggle-button div {
    height: 3px;
    background-color: var(--primary);
    border-radius: 3px;
    position: relative;
  }
  
  .mbn-section-one-header-toggle-button div:nth-child(1) {
    width: 80%;
  }
  .mbn-section-one-header-toggle-button div:nth-child(2) {
    width: 100%;
  }
  .mbn-section-one-header-toggle-button div:nth-child(3) {
    width: 50%;
  }

  /* section-2 */

  #mbn-section-two {
    padding: 30px 20px;
  }
  
  .mbn-section-two-service-content {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 0;
  }
  
  .mbn-section-two-service-data {
    max-width: 400px;
    order: 2;
    text-align: center;
  }
  
  .mbn-section-two-service-data h1 {
    text-align: center;
  }
  
  .mbn-section-two-service-data p {
    margin-top: 16px;
    text-align: center;
  }
  
  .mbn-section-two-service-card {
    order: 1;
  }

  #mbn-section-two .mbn-section-two-about-us {
    flex-direction: column;
  }

  .mbn-section-two-about-us .mbn-section-two-about-us-bg-img {
    left: -40px;
    top: -25%;
  }
  
  .mbn-section-two-about-us .mbn-section-two-about-us-img-container {
    flex-basis: initial;
    width: 100%;
    max-width: 500px;
  }
  
  .mbn-section-two-about-us-img-container img {
    width: 100%;
  }
  
  .mbn-section-two-about-us .mbn-section-two-about-us-content {
    flex-basis: initial;
    align-self: flex-end;
  }
  
  .mbn-section-two-about-us-content h1 {
    font-size: 24px;
  }
  
  .mbn-section-two-about-us-content p {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;;
  }


  .mbn-section-two-contact-us .mbn-section-two-contact-us-content {
    flex-direction: column;
  }

  .mbn-section-two-contact-us-content .mbn-section-two-contact-us-social-media {
    order: 2;
    width: 100%;
  }

  .mbn-section-two-contact-us .mbn-section-two-contact-us-form {
    order: 1;
    width: 100%;
  }
}


@media screen and (max-width: 850px) {
  /* section-1 */
  #mbn-section-one {
    background-position: 0 -5%, left bottom;
  }
}

/* sm screens */

@media screen and (max-width: 767px) {
  /* common */
  .btn {
    min-width: 96px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 30px;
  }

  /* section-1 */
  #mbn-section-one {
    background-position: 0 -100px, left bottom;
    padding: 0 16px 18px 16px;
  }
  
  .mbn-section-one-header {
    gap: 16px;
  }
  
  .mbn-section-one-header-logo img {
    width: 80px;
    height: 80px;
  }

  .mbn-section-one-header-navbar .mbn-section-one-header-toggle-button {
    background-color: transparent;
    width: 24px;
    height: 20px;
    margin-left: 20px;
  }
  
  .mbn-section-one-header-toggle-button div {
    height: 2px;
  }

  /* mbn-section-1-showcase */
  .mbn-section-one-showcase {
    width: 320px;
    margin-top: 30px;
  }

  .mbn-section-one-showcase-img {
    width: 320px;
    height: 253px;
  }

  .mbn-section-one-showcase-item > p {
    font-size: 10px;
    font-family: Poppins;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.1;
  }

  .mbn-section-one-showcase-education {
    max-width: 90px;
    top: 60%;
    left: -12px;
  }
  .mbn-section-one-showcase-education-btn {
    display: inline-block;
    background-color: var(--yellow);
    padding: 12px 12px 8px 13px;
    border-radius: 5px;
  }
  .mbn-section-one-showcase-education-btn img {
    width: 25px;
    height: 25px;
  }

  .mbn-section-one-showcase-card {
    max-width: 90px;
    top: 28%;
    left: -7%;
  }
  .mbn-section-one-showcase-card-btn {
    width: 56px;
    height: 56px;
  }
  .mbn-section-one-showcase-card-btn img {
    width: 25px;
    height: 25px;
  }

  .mbn-section-one-showcase-store {
    max-width: 85px;
  }
  .mbn-section-one-showcase-store-btn {
    border-radius: 5px;
    padding: 11px 20px 11px 14px;
  }
  .mbn-section-one-showcase-store-btn img {
    width: 22px;
    height: 22px;
  }

  .mbn-section-one-showcase-development {
    max-width: 90px;
    position: absolute;
    top: 10%;
    right: 3%;
  }
  .mbn-section-one-showcase-development-btn {
    padding: 14px 12px 8px 13px;
    border-radius: 5px;
  }
  .mbn-section-one-showcase-development-btn img {
    width: 24px;
    height: 24px;
  }

  .mbn-section-one-showcase-restaurant {
    max-width: 85px;
    position: absolute;
    top: 45%;
    right: -16%;
  }
  .mbn-section-one-showcase-restaurant-btn {
    width: 50px;
    height: 50px;
  }
  .mbn-section-one-showcase-restaurant-btn img {
    width: 22px;
    height: 22px;
  }
  
  .mbn-section-one-content h1 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
  }
  
  .mbn-section-one-content p {
    color: var(--primary);
    font-size: 14px;
    font-weight: 300;
    margin-top: 12px;
  }
  
  .mbn-section-one-content .mbn-section-one-content-actions {
    margin-top: 16px;
    gap: 12px;
  }
  
  .mbn-section-one-logos .mbn-section-one-chase-logo {
    width: 70px;
  }
  .mbn-section-one-logos .mbn-section-one-asana-logo {
    width: 66px;
  }
  .mbn-section-one-logos .mbn-section-one-buzzfeed-logo {
    width: 66px;
  }
  .mbn-section-one-logos .mbn-section-one-toggl-logo {
    width: 54px;
  }
  .mbn-section-one-logos .mbn-section-one-walmart-logo {
    width: 70px;
  }
  
  .mbn-section-one-sidebar-logo {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .mbn-section-one-sidebar-logo h2 {
    margin-left: 0;
  }


  /* section-2 */
  #mbn-section-two {
    padding: 20px 15px;
  }
  
  .mbn-section-two-service-heading img {
    width: 20px;
  }
  
  .mbn-section-two-service-heading h2 {
    margin-top: 6px;
    font-size: 14px;
  }
  
  .mbn-section-two-service-data h1 {
    font-size: 22px;
  }
  
  .mbn-section-two-service-data p {
    font-size: 12px;
  }
  
  .mbn-section-two-service-card h2 {
    font-size: 16px;
  }
  
  .mbn-section-two-services-clock-container {
    width: 360px;
    height: 360px;
  }
  
  .mbn-section-two-services-clock {
    width: 320px;
    height: 320px;
  }
  
  .mbn-section-two-services-clock-interval button {
    width: 28px;
    height: 12px;
    border-radius: 6px;
    transform: translateY(-50%);
  }
  
  .mbn-section-two-services-clock-interval button.active {
    width: 14px;
    height: 14px;
  }
  
  .mbn-section-two-services-clock .mbn-section-two-services-clock-handle {
    width: 80px;
    height: 8px;
    left: calc(50% - 80px);
  }

  .mbn-section-two-about-us .mbn-section-two-about-us-bg-img {
    height: 600px;
  }

  .mbn-section-two-contact-us .mbn-section-two-contact-us-heading {
    font-size: 38px;
    font-weight: 100;
  }
  
  .mbn-section-two-contact-us .mbn-section-two-contact-us-description {
    font-size: 16px;
  }

  .mbn-section-two-contact-us .mbn-section-two-contact-us-content {
    flex-direction: column;
  }

  .mbn-section-two-contact-us-content .mbn-section-two-contact-us-social-media {
    order: 2;
    width: 100%;
  }

  .mbn-section-two-contact-us .mbn-section-two-contact-us-form {
    order: 1;
    width: 100%;
  }

  .mbn-section-two-contact-us-form .mbn-section-two-contact-us-form-input-label {
    font-size: 12px;
    font-weight: 400;
  }

  .mbn-section-two-contact-us-form-input-container input,
  .mbn-section-two-contact-us-form-text-area-container .mbn-section-two-contact-us-form-text-area {
    font-size: 12px;
    font-weight: 400;
  }

  .mbn-section-two-contact-us-form-input-container input,
  .mbn-section-two-contact-us-form-radio-container {
    padding: 14px 10px;
  }

  .mbn-section-two-contact-us-form-radio-option .mbn-section-two-contact-us-form-radio-option-icon-container {
    background-color: rgba(34, 100, 181, 0.09);
    width: 65px;
    height: 38px;
  }
  
  .mbn-section-two-contact-us-form-radio-option-icon-container svg {
    width: 24px;
    color: var(--primary); 
  }

  /* main-footer */
  #mbn-footer {
    padding: 18px 16px 12px 16px;
  }
  
  
  #mbn-footer .mbn-footer-content {
    width: 100%;
  }
  
  .mbn-footer-content .mbn-footer-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mbn-footer-logo img {
    width: 100px;
    height: 100px;
  }
  
  .mbn-footer-logo h2 {
    font-size: 16px;
    font-weight: bold;
  }
  
  
  .mbn-footer-content .mbn-footer-links {
    width: 100%;
    max-width: 450px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
  
  .mbn-footer-links li a {
    font-size: 14px;
    font-weight: 100;
  }
  
  .mbn-footer-content .mbn-footer-form {
    width: 100%;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }
  
  .mbn-footer-content .mbn-footer-form-submit {
    min-width: 110px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .mbn-footer-content .mbn-footer-form-input {
    font-size: 14px;
    font-weight: 400;
  }
  
  .mbn-footer-content .mbn-footer-form-input::placeholder {
    color: var(--white);
    font-weight: 400;
    opacity: 1;
  }
  
  .mbn-footer-content .mbn-footer-other-links {
    margin-top: 16px;
  }
  
  .mbn-footer-other-links a {
    font-size: 14px;
    font-weight: 400;
  }
  
  .mbn-footer-other-links span {
    margin: 0 20px;
    height: 12px;
  }
  
  .mbn-footer-content .mbn-footer-copyright {
    margin-top: 20px;
    font-size: 13px;
  }

  /* modal */
  #mbn-service-modal .mbn-service-modal-content {
    padding: 20px 16px;
  }

  .mbn-service-modal-content .mbn-service-modal-content-service h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 1;
  }

  .mbn-service-modal-content .mbn-service-modal-content-service p {
    margin: 12px auto 0 auto;
    font-size: 12px;
  }

  .mbn-service-modal-content-service .mbn-service-modal-content-service-videos img:hover {
    transform: scale(1.4);
  }
  .mbn-service-modal-content-service .mbn-service-modal-content-service-action {
    margin-top: 16px;
    font-size: 12px;
  }

}

@media screen and (max-width: 675px) {

  /* section-1 */
  #mbn-section-one {
    background-position: 0 -30px, left bottom;
  }
}

/* xs screens */
@media screen and (max-width: 575px) {
  /* common */
  .btn {
    min-width: 86px;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.2;
  }
  
  /* section-1 */

  #mbn-section-one {
    padding: 0 16px 16px 16px;
    background-position: top left, left bottom;
  }

  .mbn-section-one-header {
    gap: 12px;
  }
  
  .mbn-section-one-header-logo img {
    width: 65px;
    height: 65px;
  }
  

  .mbn-section-one-header-navbar .mbn-section-one-header-toggle-button {
    margin-left: 16px;
  }
  
  .mbn-section-one-header-toggle-button div {
    height: 2px;
  }

  .mbn-section-one-showcase {
    width: 280px;
  }

  .mbn-section-one-showcase-img {
    width: 280px;
    height: 221px;
  }

  .mbn-section-one-content .mbn-section-one-content-actions {
    margin-top: 16px;
    gap: 12px;
  }
  
  .mbn-section-one-logos .mbn-section-one-chase-logo {
    width: 52px;
  }
  .mbn-section-one-logos .mbn-section-one-asana-logo {
    width: 44px;
  }
  .mbn-section-one-logos .mbn-section-one-buzzfeed-logo {
    width: 48px;
  }
  .mbn-section-one-logos .mbn-section-one-toggl-logo {
    width: 40px;
  }
  .mbn-section-one-logos .mbn-section-one-walmart-logo {
    width: 54px;
  }

  .mbn-section-one-sidebar {
    width: 70%;
    max-width: 100%;
    padding: 20px 16px;
  }

  .mbn-section-one-sidebar-close-btn {
    position: absolute;
    top: 18px;
    left: 18px;
  }

  .mbn-section-one-sidebar-close-btn svg {
    width: 15px;
    height: 15px;
  }
  
  .mbn-section-one-sidebar-logo img {
    width: 80px;
    height: 80px;
  }
  
  .mbn-section-one-sidebar-logo h2 {
    font-size: 14px;
    font-weight: 600;
  }
  
  .mbn-section-one-sidebar-navigation {
    margin-top: 20px;
    gap: 16px;
  }
  
  .mbn-section-one-sidebar-navigation li a {
    font-size: 14px;
  }
  
  .mbn-section-one-sidebar-navigation li a.active::after {
    width: 5px;
    height: 5px;
  }
}

/* xs screens */
@media screen and (max-width: 542px) {
  /* modal */
  #mbn-service-modal .mbn-service-modal-content {
    width: 100%;
    height: 100%;
  }
}

/* xs screens */
@media screen and (max-width: 400px) {
  .mbn-section-one-sidebar {
    width: 100%;
  }
  .mbn-section-two-service-card {
    width: 100%;
  }
}